.menu-button {
  
  .arrow-svgs {
    align-self: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 20px;
    visibility: visible;
    width: 20px;

    .arrow-svg-left {
      transform: translate(-5px, 5px) rotate(90deg);
      transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    }
    .arrow-svg-left-2 {
      transform: translate(5px, 5px) rotate(90deg);
      transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    }

    .arrow-svg-right {
      transform: translate(10px, -5px) rotate(270deg);
      transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    }

    .arrow-svg-right-2 {
      transform: translate(0px, -5px) rotate(270deg);
      transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    }
  }
}
